  <div id="main">
  <%# <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>   %>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
          <%= render 'orders/partial/orderFood'%>
    </div>
    </div>
</main>
</div>

