hi<div id="main">
<%= render partial: 'shared/navbar'%>
  <%# <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>   %>
  <h2>Hotel Management System</h2>
        <%= render partial: 'shared/dashboard', locals: {foods: @foods } %> 
        
        
        
        
</div>
