
 
    <h3 class="text-dark p-3">WELCOME 💻 📱
        <% if current_user == "Manager" %>
        <%= render partial: 'shared/dashboard', locals: {foods: @foods } %> 
        
        <% else %>
          Not Mnager
          <%= render partial: "shared/order_food", locals: { foods: @foods } %>
          <%= render partial: "shared/book_room", locals: { rooms: @rooms } %>
        <% end %>
        

    </h3>
 


 


 