<%= render 'shared/sidebar' %>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
  <% if current_user == "Manager" %>
        <%= render partial: 'shared/dashboard', locals: {foods: @foods } %> 
        
        <% else %>
          Not Mnager
          <%= render partial: "shared/order_food", locals: { foods: @foods } %>
          <%= render partial: "shared/book_room", locals: { rooms: @rooms } %>
        <% end %>
        
</div>
