<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
  <h2>Hotel Management System</h2>
  <% if current_user == "Manager" %>
        <%= render partial: 'shared/dashboard', locals: {foods: @foods } %> 
        
        <% else %>
          Not Mnager
          <%= render partial: "shared/order_food", locals: { foods: @foods } %>
          <%= render partial: "shared/book_room", locals: { rooms: @rooms } %>
        <% end %>
        
</div>
